<div id="leftRail"></div>
<div id="rightRail"></div>

<div ng-show="showPopup" id="imagePopup">
    <div id="closeDIV"><p id="close" ng-click="closePopup()"> Close </p></div>
    <div id="imagePane">
        <div id="leftArrow" ng-click="previous()">
            <span> < </span>
        </div>
        <span ng-swipe-left="next()" ng-swipe-right="previous()"><img src="{{selectedImageURL}}"/></span>
        <div id="rightArrow" ng-click="next()">
            <span> > </span>
        </div>
    </div>
</div>
    
<div class="content">
    <center>
        <video height="720px" width="480px" controls>
            <source src="files/Conference1.mp4" type="video/mp4"/>
        </video>
        <br/>
        <p class="description">Peter Clark Chicken Wing</p>
    </center>
    <br/>
    <center>
        <video height="480px" width="720px" controls>
            <source src="files/Conference2.mp4" type="video/mp4"/>
        </video>
        <br/>
        <p class="description">Ball U vs. USI</p>
    </center>
    <br/>
    <center>
        <video height="480px" width="720px" controls>
            <source src="files/Conference3.mp4" type="video/mp4"/>
        </video>
        <br/>
        <p class="description">Ball U vs. USI + JC Foot Block</p>
    </center>
    <br/>
    
    <div class="image_set" ng-repeat="item in photoGallery">
        <div>
            <img src="{{item.image}}" alt="Loading..." title="{{item.title}}" ng-click="loadImage(photoGallery.indexOf(item))"/>
            <p class="description">{{item.caption}}</p>
        </div>
    </div>
    
    <br/>
    <center>
        <video height="640px" width="480px" controls>
            <source src="files/Omaha.mp4" type="video/mp4"/>
        </video>
        <br/>
        <p class="description">Omaha!</p>
    </center>
</div>