<div id="leftRail"></div>
<div id="rightRail"></div>

<div ng-show="showPopup" id="imagePopup">
    <div id="closeDIV"><p id="close" ng-click="closePopup()"> Close </p></div>
    <div id="imagePane">
        <div id="leftArrow" ng-click="previous()">
            <span> < </span>
        </div>
        <span ng-swipe-left="next()" ng-swipe-right="previous()"><img src="{{selectedImageURL}}"/></span>
        <div id="rightArrow" ng-click="next()">
            <span> > </span>
        </div>
    </div>
</div>
    
<div class="content">
    <br/>
    
    <div class="image_set" ng-repeat="item in photoGallery">
        <img src="{{item.image}}" alt="Loading..." title="{{item.title}}" ng-click="loadImage(photoGallery.indexOf(item))"/>
        <caption class="description">{{item.caption}}</caption>
    </div>
    
    <br/>
    <center>
        <video height="640px" width="480px" controls>
            <source src="files/Omaha.mp4" type="video/mp4"/>
        </video>
    </center>
</div>