.image_set {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    width: 32%;
    height: 300px;
    margin-left: 0.5%;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

.image_set div {
    display: table-cell;
    height: inherit;
    width: 0.1%;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
}

@media screen and (max-width:1000px){
    .image_set {
        height: 280px;
    }
}

@media screen and (max-width:800px){
    .image_set {
        width: 48%; 
    }
}

@media screen and (max-width:600px){
    .image_set {
        height: 220px;
    }
}

@media screen and (max-width:650px){
    .image_set {
        width: 98%;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .image_set {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px){
    .image_set {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
   .image_set {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.image_set img {
    cursor: pointer;
    display: block;
    max-width: 100%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.description{
    display: block;
    text-align: center;
    font-size: .75em;
    vertical-align: bottom;
}

#imagePopup {
    position: fixed;
    display: table-cell;
    vertical-align: middle;
    width: 86%;
    height: 92%;
    background-color: #4E5E6D;
    z-index: 1000;
    margin: 0 0 0 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 15px;
    border: 5px solid black;
}

#closeDIV {
    vertical-align: top;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#close {
    background-color: rgba(255,0,0, 0.75);
    cursor: pointer;
    display: inline;
    border-radius: 8%;
    font-weight: 700;
    padding: 2px;
    transition-duration: 0.5s;
}

#close:hover {
    background-color: rgba(255,0,0, 1.0) ;
}

#close:active {
    background-color: rgba(255,0,0, 0.5);
}

#imagePane{
    vertical-align: middle;
    height: 88%;
    width: 100%;
    margin: auto;
}

#imagePopup span {
    width:88%;
    height: 100%;
    display: inline-block;
}

#imagePopup img {
    position: absolute;
    max-width: 86%;
    max-height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    vertical-align: middle;
}

#rightArrow, #leftArrow {
    vertical-align: middle;
    cursor: pointer;
    height: 100%;
    width: 3%;
    min-width: 20px;
    font-weight: 900;
    text-align: center;
}

#rightArrow span, #leftArrow span {
    display: inline-block;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#rightArrow {
    margin-right: 2%;
}

#leftArrow {
    margin-left: 4%;
}

#leftArrow:hover , #rightArrow:hover {
    background: rgb(255, 255, 255); 
    /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .5);
}

#leftArrow:active, #rightArrow:active {
    background: rgb(0, 0, 0); 
    /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .5);
}

#rightArrow {
    margin-right: 2%;
    float: right;
    transition-duration: 0.5s;
}

#leftArrow {
    float: left;
    margin-left: 2%;
    transition-duration: 0.5s;
}